* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(101, 163, 255);
    padding: 0 1rem;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 1.5rem;
}

li {
    padding: 0 1rem;
    font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in-out;
}

a:hover {
    background-color: rgb(32, 108, 223);
}